/parser-math-expressions/nbproject/private/
/parser-math-expressions/build/
/karel-robot/nbproject/private/
/karel-robot/build/
/MeetKarel/nbproject/private/
/MeetKarel/build/
/MeetKarel/dist/
/apache-commons-email/nbproject/private/
/apache-commons-email/build/
/dynamic-buttons/nbproject/private/
/dynamic-buttons/build/
/get-threads-instances/build/
/sistema-bascula/dist/
/sistema-bascula/build/
/serial-port/nbproject/private/
/serial-port/build/
/java-simple-serial-connector/nbproject/private/
/java-simple-serial-connector/build/
/thread-synchronized/nbproject/private/
/thread-synchronized/build/
/thread-volatile/nbproject/private/
/thread-volatile/build/
/barCode/build/
/Threads/nbproject/private/
/Threads/build/
/racing-square-threads/nbproject/private/
/threads-racing-square/nbproject/private/
/threads-racing-square/build/
/mysqlTree/nbproject/private/
/mysqlTree/build/
/animation-rain/nbproject/private/
/animation-rain/build/
/animation-rain2017/nbproject/private/
/animation-rain2017/build/